<!-- Binding disabled property of input tag using class variable isDisabled -->
<div class="section-div">
  <h2>One way binding, Attribute binding, Class binding</h2>
  <p>
    Welcome {{name}}
  </p>
  <span> Property Binding using Square Braces 
    <input [disabled]="isDisabled" type="text" name="{{name}}" value="{{name}}" />
  </span>
  <p>(Or)</p>
  <span> Property Binding using bind hyphen
    <input bind-disabled="isDisabled" type="text" name="{{name}}" value="{{name}}" />
  </span>
  <div>
    <div [class]="dangerClass">Binding the class from the component</div>
    <div [class.text-success]="!isError">Conditional applying the class</div>
    <div [ngClass]="message">Binding a Class from Object.</div>
    <button (click)="onClick()">{{buttonValue}}</button><span>{{greeting}}</span>
  </div>
</div>
<div class="section-div">
  <h2>Two Way Binding</h2>
  <div style="margin: 5px;">Username :
    <input [(ngModel)]="variable" type="text" value="{{variable}}">{{variable}}
  </div>
</div>
<div class="section-div">
  <h2>Conditional Directives</h2>
  <div *ngIf="displayIf; then ifBlock; else elseBlock"></div>
  <ng-template #ifBlock>
    <p>Hi I am the if block</p>
  </ng-template>
  <ng-template #elseblock>
    <p>Hi I am the else block</p>
  </ng-template>
</div>
<div class="section-div">
  
    <div *ngFor="let user of users; index as i">
    	<div>{{i+1}}. {{user.name}}</div>
    </div>
  
</div>
