<div *ngFor="let character of characters">
    <div class="row">
        <div class="col-sm-2">{{character.name}}</div>
        <div class="col-sm-2">
            <span *ngIf="character.type == 'H'">Hero</span>
            <span *ngIf="character.type == 'V'">Villain</span>
        </div>
        <div class="col-sm-2">
            <span *ngIf="character.type =='H'">+</span>
            <span *ngIf="character.type =='V'">-</span>
            {{character.level}}
        </div>
        <div class="col-sm-6">
            {{character.desc}}
        </div>
    </div>
</div>
